# Python
__pycache__/
*.py[cod]
*.pyo
# SSL certificates
cert.key
cert.crt

# Any certificate files
*.key
*.crt
*.pem

# Environment variables
.env
# Virtual environment
venv/
env/

# Django
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc

# Media / uploaded files
/media/

# IDE / editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
