# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# Django
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc

# Media / uploaded files
/media/

# IDE / editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
