<!DOCTYPE html>
<html lang="hr">
<head>
<meta charset="UTF-8">
</head>
<body>

<h2>RACUN BR. {{ narudzba.id }}</h2>
<p>Sto: {{ narudzba.sto_broj }}</p>

<table width="100%" border="1" cellspacing="0" cellpadding="4">
<tr>
    <th>Naziv</th>
    <th>Kolicina</th>
    <th>Cijena</th>
    <th>Ukupno</th>
</tr>

{% for s in stavke %}
<tr>
    <td>{{ s.stavka.naziv }}</td>
    <td>{{ s.kolicina }}</td>
    <td>{{ s.stavka.cijena }} €</td>
    <td>{{ s.stavka.cijena|floatformat:2 }} × {{ s.kolicina }}</td>
</tr>
{% endfor %}
</table>

<h3>UKUPNO: {{ ukupno|floatformat:2 }} €</h3>

</body>
</html>
